{{ define "main" }}
<main>
  <h1>{{ .Site.Title }} - {{ .Site.Params.Subtitle }}</h1>
  {{ with resources.Get .Site.Params.Avatar }}
  <img alt="" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"/>
  {{ end }}
  <h2>Who We Are?</h2>
  <p>At nobrainer.zone, we foster exploration and innovation by providing advanced labs and versatile workspaces for professionals, tech enthusiasts, and DIY hobbyists. Our facility encourages creativity and collaboration through regular workshops, meetups, and events. Join us to expand your horizons and grow in a community of like-minded individuals.</p>
  <h2>Where To Find Us?</h2>
  <p>We are located at <a href="https://en.mapy.cz/s/kusujadoro">Palackého tř. 87, 612 00 Brno-Královo Pole</a></p>
</main>
{{ end }}
