{{ define "main" }}
<main>
  <h1>{{ .Site.Title }} - {{ .Site.Params.Subtitle }}</h1>
  {{ with resources.Get .Site.Params.Avatar }}
  <img alt="" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"/>
  {{ end }}
  <h2>Who We Are?</h2>
  <p>We're dedicated to cultivating curiosity and collaboration among individuals passionate about exploration and innovation. Hence, our space is more than just a co-working area; it's a vibrant community hub. At nobrainer.zone, remote IT workers, tech enthusiasts, and DIY hobbyists converge to work, learn, and have fun together. With state-of-the-art electronics and biology labs, as well as versatile co-working amenities, our space provides the perfect environment to fuel your creativity and expand your horizons. Join us for regular meetups, workshops, and events, and let's embark on a journey of discovery and growth together.</p>
  <h2>Where To Find Us?</h2>
  <p>We are located at <a href="https://en.mapy.cz/s/kusujadoro">Palackého tř. 87, 612 00 Brno-Královo Pole</a></p>
</main>
{{ end }}
